.popular {
    margin-bottom: 5.45rem;
}

.popularTitle {
    text-align: center;
}

/**tabs group**/

.popularWrapper {
    display: flex;
    flex-direction: column;
}

.popularTabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 3.4rem 0 2.4rem 0;
}

.popularTabsContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.625rem;
}

@media (max-width: 1280px) {
    .popularWrapper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .popularTabs {
        flex-direction: column;
        gap: 10px;
    }

    .hidden {
        display: none;
    }

    .popularTabsContent {
        gap: 1rem;
        overflow: auto;
    }
}

@media (max-width: 1023px) {

}