.subscribe {
    margin-bottom: 7.5625rem;
}

.contentBlock {
    background: var(--secondaryColor);
    border-radius: 1.25rem;
    padding: 3.5rem 10.3125rem;
    text-align: center;
}

.inputForm {
    width: 748px;
    padding: 1.5rem 2.6875rem;
    background: #FFFFFF;
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
    border-radius: 70px;
    border: 1px solid transparent;
    font-size: 100%;
    outline: none;
    font-family: monospace;
}

.contentText {
    margin: 0.75rem 0 2.3125rem 0;
    line-height: 1.875rem;
    color: #fff;
    opacity: .8;
}

.buttonSubmit {
    background: #FF7A50;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid var(--secondaryColor);
    border-radius: 70px;
    font-weight: 500;
    padding: 14px 32px;
    font-size: 20px;
    line-height: 24px;
    margin-left: -177px;
}

.buttonSubmit:hover {
    border: 1px solid #fff;
    transition: all .4s;
}

.form {
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.error {
    min-width: 748px;
    padding: 1.5rem 2.6875rem;
    box-shadow: 0 0 20px 7.5px rgb(241 0 0 / 36%);
    border-radius: 70px;
    border: 1px solid red;
    font-size: 100%;
    outline: none;
    font-family: monospace;
}

@media screen and (max-width: 1280px) {
    .contentBlock {
        margin: 0 auto;
        padding: 3.5rem 5rem;
    }
}

@media screen and (max-width: 1023px) {
    .contentBlock input {
        min-width: 90%;
    }

    .buttonSubmit {
        margin-left: -160px;
        justify-content: center;
    }
}

@media screen and (max-width: 576px){
    .contentBlock {
        padding: 3.5rem 1rem;
    }

    .form {
        flex-direction: column;
    }

    .inputForm {
        padding: 1rem 1.6875rem;
        width: 0px;
    }

    .error {
        padding: 1rem 1.6875rem;
    }

    .contentBlock input {
       min-width: 80%;
    }

    .buttonSubmit {
        margin-left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    }
}

@media screen and (max-width: 319px) {
    .contentBlock input {
        min-width: 75%;
    }

}

