.download {
    margin-bottom: 10.375rem;
}

.downloadWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.downloadDescription {
    font-size: 1.25rem;
    line-height: 1.875rem;
    opacity: .9;
    margin: 2.3125rem 0;
    padding-right: 2.875rem;
}

.downloadtumb {
    display: flex;
    flex-direction: row;
    gap: 2.1875rem;
}

.downloadtumb img:hover {
    transition: all 0.5s;
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.3);
}

@media screen and (max-width: 1280px) {
    .downloadWrapper {
        grid-template-columns: 1fr;
    }

    .download {
        margin-bottom: 14.375rem;
    }

    .downloadImg {
        position: absolute;
        z-index: -1;
        opacity: .1;
    }

    .downloadText {
        text-align: center;
    }

    .downloadDescription {
        padding: 0 10rem;
    }

    .downloadtumb {
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .downloadDescription {
        padding: 0;
    }

    .download {
        margin-bottom: 8rem;
    }
}