.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    min-width: 13.125rem;
    background-color: white;
    color: var(--primaryColor);
    padding: 0.8125rem .25rem;
    border-radius: .5rem;
    text-transform: capitalize;
}

.active {
    background-color: var(--secondaryColor);
    color: white;
}

.tab:hover {
    background-color: var(--secondaryColor);
    color: white;
    transition: all .3s;
}