.listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1.375rem 1rem;
    max-width: 11.75rem;
    border-radius: .75rem;
}

.listItem:hover {
    cursor: pointer;
}