.cartTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 2rem 0rem 4rem 0rem;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.cartTable caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.cartTable tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.cartTable th,
.cartTableble td {
    padding: .625em;
    text-align: center;
}

.cartTable th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.cartTable tbody {
    text-align: center;
}

.cartTableButton {
    width: 21px;
    height: 21px;
    background: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 7px;
}

.cartTableButton:last-child {
    margin-right: 0;
    margin-left: 7px;
}

.cartTableClearButton {
    width: 21px;
    height: 21px;
    cursor: pointer;
    border: none;
    border-radius: 100%;
}