.testimonialsContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7.125rem;
    margin-bottom: 7.75rem;
}

.testimonialsTitle {
    text-align: center;
    margin-bottom: 3.75rem;
}

.quote {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    position: relative;
    overflow: hidden;
    margin: 0;
    font-size: 1.25rem;
    line-height: 2.8125rem;
    letter-spacing: 0.0313rem;
    padding: 0.625rem;
}

.quote::before {
    content: '';
    background: url('../../assets/quote_left.svg') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4375rem;
    height: 1.125rem;
}

.quote::after {
    content: '';
    background: url('../../assets/quote_right.svg') no-repeat;
    position: absolute;
    width: 1.4375rem;
    height: 1.125rem;
    bottom: 0;
    right: 0;
}

.author {
    display: block;
    color: #FF7A50;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 4.625rem 0 1.125rem 0;
}

.authorRole {
    display: block;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: #aaa;
}

/** Custom buttons for swiper react **/
.customButtons {
    display: flex;
    justify-content: flex-end;
    gap: 2.75rem;
    position: absolute;
    bottom: 0.9375rem;
    right: 0;
    z-index: 10;
}

.buttonPrev,
.buttonNext {
    cursor: pointer;
    color: var(--secondaryColor);
}

@media screen and (max-width: 1270px) {
    .testimonialsTumb {
        display: none;
    }

    .quoteText {
        max-width: 70%;
        margin: 0 auto;
    }

    .customButtons {
        left: 0;
        justify-content: center;
    }

    .buttonPrev,
    .buttonNext {
        position: absolute;
        top: -250px;       
    }

    .buttonPrev {
        left: 120px;
    }

    .buttonNext {       
        right: 120px;
    }
}

@media screen and (max-width: 767px) {
    .testimonials {
        display: none;
    }
}