.headerSticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 3px 3px 10px 3px #dddddd;
    padding-bottom: 20px;
    transition: padding 0.3s;
}

.headerSticky + main {
    padding-top: 102px;
}

.topNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.logo {
    margin-right: 17.4rem;
}

.menu {
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
    gap: 60px;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.loginBtn {
    background: #FF7A50;
    color: white;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    border: 1px solid var(--secondaryColor);
    padding: 11px 20px;
    border-radius: 5px;
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
}

.loginBtn:hover {
    background: transparent;
    color: var(--secondaryColor);
    box-shadow: none;
    transition: all .7s;
}

.menu li {
    list-style: none;
}

.menu a,
.menuLink {
    text-decoration: none;
    color: var(--primaryColor);
}

ul.menu li a.active {
    color: var(--secondaryColor);
}

.menu a:hover,
.menuLink:hover {
    transition: all 0.4s;
    color: var(--secondaryColor);
}

/** Card Shopping Style **/
.cartShopping {
    position: relative;
}

.isCard {
    position: absolute;
    content: '';
    background: #fd7856;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: -35%;
    left: 15px;
}

/** Burger Icon  **/

.menuBtn {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.menuBtn:hover {
    cursor: pointer;
}

.menuBtn span {
    width: 30px;
    height: 2.5px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fd7856;
    transition: all 0.5s;
}

.menuBtn span:nth-of-type(2) {
    top: calc(50% - 10px);
}

.menuBtn span:nth-of-type(3) {
    top: calc(50% + 10px);
}


@media (max-width: 1280px) {
    .logo {
        margin-right: 0;
    }

    .topNavigation {
        justify-content: space-between;
    }

    .menu {
        gap: 40px;
    }
}

@media (max-width: 1023px) {
    .topNavigation {
        justify-content: center;
        gap: 35px;
    }

    .search {
        display: none;
    }
}


@media (max-width: 767px) {
    .menuBtn {
        display: flex;
        order: 4;
    }

    /* Replace burger icon when is open */
    .menuBtn.active span:nth-of-type(1) {
        width: 0;
        opacity: 0;
    }

    .menuBtn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .menuBtn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    .menu {
        position: fixed;
        top: 4rem;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #f3ebfe;
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
        padding-top: 5rem;
        z-index: 1;
    }

    .menu.active {
        transform: translateX(0);
        transition: transform 0.5s;
    }

    .topNavigation {
        justify-content: space-between;
        margin-top: 1.125rem;
    }

    .topNavigation a {
        z-index: 10;
    }
}

@media (max-width: 576px) {
    .topNavigation {
        gap: 20px;
    }

    .menu {
        font-size: 1.8rem;
    }


}

@media (max-width: 375px) {
    .logo {
        display: none;
    }

    .topNavigation {
        justify-content: space-between;
    }
}

/** Users styles**/
.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.userPhoto {
    position: relative;    
    border-radius: 100%;
    background-color: white;
    padding: 2px;
    border: 1px solid #00000005;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userPhoto img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.userPhoto:hover > .userInfo  {
    display: flex;
}

.userInfo {
    display: none;
    position: absolute;
    top: 33px;
    right: 0;    
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.userInfo > * {
    margin: 0;
}

.userEmail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    font-size: 0.875rem;
}

.logOutButton {
    background-color: transparent;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 100%;
}

.logOutButton:hover {
    cursor: pointer;
}