.logo {
    display: inline-block;
    margin-bottom: 1.2rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.info img {
    margin-right: 7px;
}

.infoLink {
    display: flex;
    color: #37383D;
    line-height: 2;
}

.infoLink:hover,
.navItem a:hover {
    transition: all 0.4s;
    color: var(--secondaryColor);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6.25rem;
}

.navItem {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    line-height: 3.0625rem;
    letter-spacing: 0.01em;
}

.navItem a {
    color: #37383D;
}

.navItem span {
    font-weight: 500;
}

.footerList {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footerList li {
    list-style: none;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialLink svg {
    fill: #37383D;
}

.socialLink svg:hover {
    transition: all .4s;
    fill: var(--secondaryColor);
}

.bottomFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.875rem;
    line-height: 0.875rem;
    color: #646464;
    margin-bottom: 2.25rem;
}

.bottomFooter a {
    color: #646464;
    margin-right: 3.1875rem;
}

.bottomFooter a:hover {
    color: var(--secondaryColor);
    transition: all 0.4s;
}

.bottomFooter a:last-child {
    margin-right: 0;
}

hr {
    color: #969696;
    opacity: .2;
    margin: 1.5625rem 0;
    
}

@media screen and (max-width: 1280px) {
    .content {
        justify-content: center;
        gap: 50px;
    }

    .bottomFooter {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}

@media screen and (max-width: 1023px) {
    .content {
        flex-direction: column;   
    }

    .info {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        order: 2;       
    }

    .nav {
        justify-content: center;
        gap: 5.25rem;
        text-align: center;
    }

    .logo {
        display: none;
    }

    .social {
        gap: 1.5rem;
    }
}

@media screen and (max-width: 767px) {
    .nav {
        flex-wrap: wrap;
    }

    .info {
        flex-direction: column;
        gap: 2rem;
    }

    .information {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .nav {
        flex-direction: column;
        gap: 2rem;
    }

    .navItem {
        font-size: 1.3rem;
    }

    .bottomFooter {
        font-size: 1rem;
    }
}